@using Microsoft.AspNet.Identity

    <!DOCTYPE html>
    <html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>AppCredito</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
        <!-- bootstrap-daterangepicker -->
        <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="~/build/css/custom.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css" rel="stylesheet" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="#" class="site_title"><i class="fa fa-pie-chart"></i> <span>SIIAN!</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido,</span>
                                <h2></h2>
                            </div>
                        </div>
                        <!-- search form -->
                        <form action="/Home/MenuAccionRapida" method="post">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Menu General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="~/Home/Index"><i class="fa fa-home"></i> Principal</a>

                                    </li>

                                </ul>
                            </div>

                        </div>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken();
                                <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:document.getElementById('logoutForm').submit()">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            }

                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav navbar-fixed-top">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="navbar-left" style="padding-top: 12px">
                                <button class="btn" title="Seleccionar Cliente" data-toggle="modal" data-target=".bs-example-modal-lg" name="BuscarCliente" id="BuscarCliente" style="display:none;">
                                    <i class="fa fa-user"></i>
                                </button>
                                <button class="btn" title="Guardar" name="GuardarDatos" id="GuardarDatos" style="display: none;">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn" title="Procesar Etapa" name="ProcesarEtapa" id="ProcesarEtapa" style="display:none;">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <button class="btn" title="Tabla Amortización" name="TablaAmortizacion" id="TablaAmortizacion" style="display:none;">
                                    <i class="fa fa-book"></i>
                                </button>
                                <button class="btn" title="Desembolsar" name="Desembolsar" id="Desembolsar" style="display:none;">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                </button>
                                <button class="btn" title="Reversar Etapa" name="ReversarEtapa" id="ReversarEtapa" style="display:none;">
                                    <i class="fa fa-backward"></i>
                                </button>
                                <button class="btn" title="Nueva Solicitud" name="NuevaSolicitud" id="NuevaSolicitud" style="display:none;">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img alt="">
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"> Profile</a></li>
                                        <li>
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken();
                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                            }

                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    <!-- top tiles -->
                    <!-- /top tiles -->
                    <div class="row" style="margin-top:60px">
                        @RenderBody()
                    </div>

                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.2.4.js"
                integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
                crossorigin="anonymous"></script>

        <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <!-- <script src="~/vendors/Chart.js/dist/Chart.min.js"></script> -->
        <!-- gauge.js -->
        <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="~/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/vendors/Flot/jquery.flot.js"></script>
        <!-- <script src="~/vendors/Flot/jquery.flot.pie.js"></script> -->
        <script src="~/vendors/Flot/jquery.flot.time.js"></script>
        <!-- <script src="~/vendors/Flot/jquery.flot.stack.js"></script> -->
        <!-- <script src="~/vendors/Flot/jquery.flot.resize.js"></script> -->
        <!-- Flot plugins -->
        <!-- <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script> -->
        <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <!-- <script src="~/vendors/flot.curvedlines/curvedLines.js"></script> -->
        <!-- DateJS -->
        <script src="~/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/vendors/moment/min/moment.min.js"></script>
        <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/build/js/custom.js"></script>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js"></script>
        <script src="~/Scripts/dataTables.checkboxes.min.js"></script>
        <script src="~/Scripts/App.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
